server:
  port: 8081
spring:
  application:
    name: order-consumer
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: order-notifier-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.nunostudios.orderconsumer.dto.OrderResponseDTO
        spring.json.use.type.headers: false


